<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loda.dao.RoundMapper">
    <select id="queryCurRound" resultType="Integer">
        select num from round
    </select>

    <update id="updateRound" parameterType="Integer">
        update round set num = #{round}
    </update>
</mapper>